/* Fonts */
.raleway-normal-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #4E47FF;
}

header{
    background-image: url(../Assets/Hero-bg.png);
    
}

/* shared */

.btn-design{
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    font-weight: normal;
}

/* nav  design */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title{
    font-size: 34px;
    font-weight: 900;
}

nav button{
    width: 145px;
    align-items: center;
}

/* div */

.div-title{
    color: #252432;
    font-size: 65px;
}


.title{
    text-align: center;
    align-items: center;
    display: flex;
    display: block;
    padding: 305px 265px 152px;
}

/* Main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 115px;
} 

.action-content{
    padding-top: 134px;
    padding-bottom: 134px;
    padding-right: 220px;
}
.action-content h3{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-content p{
    font-size: 24px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
}

.action img{
    border-radius: 48px;
    width: 405px;
}
